USE [master]
GO
/****** Object:  Database [kuafor_randevu]    Script Date: 18.3.2018 15:07:07 ******/
CREATE DATABASE [kuafor_randevu]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'kuafor_randevu', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\kuafor_randevu.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'kuafor_randevu_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\kuafor_randevu_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [kuafor_randevu].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [kuafor_randevu]
GO
USE [kuafor_randevu]
GO
/****** Object:  Table [dbo].[calisanlar]    Script Date: 18.3.2018 15:07:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[calisanlar](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[calisan_adi] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[fiyat_listesi]    Script Date: 18.3.2018 15:07:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[fiyat_listesi](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[hizmet] [nvarchar](max) NULL,
	[fiyat] [nvarchar](max) NULL,
	[süre] [nvarchar](max) NULL,
 CONSTRAINT [PK_fiyat_listesi] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[hizmet_turleri]    Script Date: 18.3.2018 15:07:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[hizmet_turleri](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[hizmet_tur] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[randevu]    Script Date: 18.3.2018 15:07:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[randevu](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ad_soyad] [nvarchar](max) NULL,
	[email] [nvarchar](max) NULL,
	[tel] [nvarchar](max) NULL,
	[randevu_tarih] [nvarchar](max) NULL,
	[hizmet_turu] [nvarchar](max) NULL,
	[personel] [nvarchar](max) NULL,
 CONSTRAINT [PK_randevu] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[uygun_randevu]    Script Date: 18.3.2018 15:07:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[uygun_randevu](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[tarih_ve_saat] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
USE [master]
GO
