<div class="container">
    <div class="col-md-8">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3011.5192254262115!2d28.795627215683496!3d40.99200732837437!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14caa396db59606d%3A0x6594147beb14e9b4!2zxLBzdGFuYnVsIEF5ZMSxbiDDnG5pdmVyc2l0ZXNp!5e0!3m2!1str!2str!4v1525350732373" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
    <div class="col-md-4">
        <h2>İLETİŞİM BİLGİLERİ</h2>
        <p>Telefon Numaramız:</p>
        <div class="panel panel-default pull-left clearfix">
            <div class="panel-body"><a class="text-center" style="font-size: 36px; color: #3395dd; text-decoration: none;" href="tel:0 (212) 478 00 88">0 (212) 123 00 12 <strong class="fa fa-phone-square" style="font-size: 40px; color: #3395dd;">&nbsp;</strong></a></div>
        </div>
        <div class="clearfix">&nbsp;</div>
        <p>Mail Adresimiz: <br /><a style="color: #db5034; font-size: 16px;" href="mailto:kuafor@gmail.com">kuafor@gmail.com</a></p>
        <p>Şube:<br /><span style="color: #db5034; font-size: 16px;"> Beşyol/İstanbul</span></p>
        <p>&nbsp;</p>
    </div>
</div>