@model IEnumerable<kuafor_randevuV2.Models.fiyat_listesi>
@{
    ViewBag.Title = "Fiyat Listesi";
    int i = 1;
}

<div class="panel-group">
    <div class="panel panel-success">
        <div class="panel-heading text-center">
            <h3>Fiyat Listesi</h3>
        </div>
        <div class="panel-body">
            <form>
                <div class="row">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Hizmet</th>
                                <th scope="col">Fiyat</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <th scope="row">@(i)</th>
                                    <td>@item.hizmet.ToString()</td>
                                    <td>@item.fiyat.ToString()</td>
                                </tr>
                                i++;
                            }
                        </tbody>
                    </table>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>